/*
  resets
*/
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

p {
  margin: 0; }

img {
  max-width: 100%; }

/*
  settings
*/
/*
  responsive
*/
@media (max-width: 767px) {
  .hide-sp {
    display: none !important; } }

@media (min-width: 768px) {
  .hide-pc {
    display: none !important; } }

/*
  page layout
*/
.layout {
  width: 100%;
  margin: 0 auto;
  max-width: 950px; }

.max-layout {
  width: 100%;
  margin: 0 auto;
  max-width: 1280px; }

/*
  typography
*/
.txt-black {
  color: #000000; }

.txt-white {
  color: #FFFFFF; }

.txt-gray {
  color: #CCCCCC; }

.txt-green {
  color: #27C98E; }

.txt-yellow {
  color: #FFF600; }

.txt-red {
  color: #F22727; }

.txt-10 {
  font-size: 10px; }

.txt-11 {
  font-size: 11px; }

.txt-12 {
  font-size: 12px; }

.txt-13 {
  font-size: 13px; }

.txt-14 {
  font-size: 14px; }

.txt-15 {
  font-size: 15px; }

.txt-16 {
  font-size: 16px; }

.txt-17 {
  font-size: 17px; }

.txt-18 {
  font-size: 18px; }

.txt-19 {
  font-size: 19px; }

.txt-20 {
  font-size: 20px; }

.txt-21 {
  font-size: 21px; }

.txt-22 {
  font-size: 22px; }

.txt-23 {
  font-size: 23px; }

.txt-24 {
  font-size: 24px; }

.txt-25 {
  font-size: 25px; }

.txt-26 {
  font-size: 26px; }

.txt-27 {
  font-size: 27px; }

.txt-28 {
  font-size: 28px; }

.txt-29 {
  font-size: 29px; }

.txt-30 {
  font-size: 30px; }

.txt-31 {
  font-size: 31px; }

.txt-32 {
  font-size: 32px; }

.txt-33 {
  font-size: 33px; }

.txt-34 {
  font-size: 34px; }

.txt-35 {
  font-size: 35px; }

.txt-36 {
  font-size: 36px; }

.txt-37 {
  font-size: 37px; }

.txt-38 {
  font-size: 38px; }

.txt-39 {
  font-size: 39px; }

.txt-40 {
  font-size: 40px; }

.txt-41 {
  font-size: 41px; }

.txt-42 {
  font-size: 42px; }

.txt-43 {
  font-size: 43px; }

.txt-44 {
  font-size: 44px; }

.txt-45 {
  font-size: 45px; }

.txt-46 {
  font-size: 46px; }

.txt-47 {
  font-size: 47px; }

.txt-48 {
  font-size: 48px; }

.txt-49 {
  font-size: 49px; }

.txt-50 {
  font-size: 50px; }

.txt-left {
  text-align: left; }

.txt-center {
  text-align: center; }

.txt-right {
  text-align: right; }

.txt-normal {
  font-weight: 400; }

.txt-bold {
  font-weight: 500; }

.txt-bolder {
  font-weight: 600; }

@media (max-width: 767px) {
  .txt-sp-black {
    color: #000000; }
  .txt-sp-white {
    color: #FFFFFF; }
  .txt-sp-gray {
    color: #CCCCCC; }
  .txt-sp-green {
    color: #27C98E; }
  .txt-sp-yellow {
    color: #FFF600; }
  .txt-sp-red {
    color: #F22727; }
  .txt-sp-10 {
    font-size: 10px; }
  .txt-sp-11 {
    font-size: 11px; }
  .txt-sp-12 {
    font-size: 12px; }
  .txt-sp-13 {
    font-size: 13px; }
  .txt-sp-14 {
    font-size: 14px; }
  .txt-sp-15 {
    font-size: 15px; }
  .txt-sp-16 {
    font-size: 16px; }
  .txt-sp-17 {
    font-size: 17px; }
  .txt-sp-18 {
    font-size: 18px; }
  .txt-sp-19 {
    font-size: 19px; }
  .txt-sp-20 {
    font-size: 20px; }
  .txt-sp-21 {
    font-size: 21px; }
  .txt-sp-22 {
    font-size: 22px; }
  .txt-sp-23 {
    font-size: 23px; }
  .txt-sp-24 {
    font-size: 24px; }
  .txt-sp-25 {
    font-size: 25px; }
  .txt-sp-26 {
    font-size: 26px; }
  .txt-sp-27 {
    font-size: 27px; }
  .txt-sp-28 {
    font-size: 28px; }
  .txt-sp-29 {
    font-size: 29px; }
  .txt-sp-30 {
    font-size: 30px; }
  .txt-sp-31 {
    font-size: 31px; }
  .txt-sp-32 {
    font-size: 32px; }
  .txt-sp-33 {
    font-size: 33px; }
  .txt-sp-34 {
    font-size: 34px; }
  .txt-sp-35 {
    font-size: 35px; }
  .txt-sp-36 {
    font-size: 36px; }
  .txt-sp-37 {
    font-size: 37px; }
  .txt-sp-38 {
    font-size: 38px; }
  .txt-sp-39 {
    font-size: 39px; }
  .txt-sp-40 {
    font-size: 40px; }
  .txt-sp-41 {
    font-size: 41px; }
  .txt-sp-42 {
    font-size: 42px; }
  .txt-sp-43 {
    font-size: 43px; }
  .txt-sp-44 {
    font-size: 44px; }
  .txt-sp-45 {
    font-size: 45px; }
  .txt-sp-46 {
    font-size: 46px; }
  .txt-sp-47 {
    font-size: 47px; }
  .txt-sp-48 {
    font-size: 48px; }
  .txt-sp-49 {
    font-size: 49px; }
  .txt-sp-50 {
    font-size: 50px; }
  .txt-sp-left {
    text-align: left; }
  .txt-sp-center {
    text-align: center; }
  .txt-sp-right {
    text-align: right; }
  .txt-sp-normal {
    font-weight: 400; }
  .txt-sp-bold {
    font-weight: 500; }
  .txt-sp-bolder {
    font-weight: 600; } }

@media (min-width: 768px) {
  .txt-pc-black {
    color: #000000; }
  .txt-pc-white {
    color: #FFFFFF; }
  .txt-pc-gray {
    color: #CCCCCC; }
  .txt-pc-green {
    color: #27C98E; }
  .txt-pc-yellow {
    color: #FFF600; }
  .txt-pc-red {
    color: #F22727; }
  .txt-pc-10 {
    font-size: 10px; }
  .txt-pc-11 {
    font-size: 11px; }
  .txt-pc-12 {
    font-size: 12px; }
  .txt-pc-13 {
    font-size: 13px; }
  .txt-pc-14 {
    font-size: 14px; }
  .txt-pc-15 {
    font-size: 15px; }
  .txt-pc-16 {
    font-size: 16px; }
  .txt-pc-17 {
    font-size: 17px; }
  .txt-pc-18 {
    font-size: 18px; }
  .txt-pc-19 {
    font-size: 19px; }
  .txt-pc-20 {
    font-size: 20px; }
  .txt-pc-21 {
    font-size: 21px; }
  .txt-pc-22 {
    font-size: 22px; }
  .txt-pc-23 {
    font-size: 23px; }
  .txt-pc-24 {
    font-size: 24px; }
  .txt-pc-25 {
    font-size: 25px; }
  .txt-pc-26 {
    font-size: 26px; }
  .txt-pc-27 {
    font-size: 27px; }
  .txt-pc-28 {
    font-size: 28px; }
  .txt-pc-29 {
    font-size: 29px; }
  .txt-pc-30 {
    font-size: 30px; }
  .txt-pc-31 {
    font-size: 31px; }
  .txt-pc-32 {
    font-size: 32px; }
  .txt-pc-33 {
    font-size: 33px; }
  .txt-pc-34 {
    font-size: 34px; }
  .txt-pc-35 {
    font-size: 35px; }
  .txt-pc-36 {
    font-size: 36px; }
  .txt-pc-37 {
    font-size: 37px; }
  .txt-pc-38 {
    font-size: 38px; }
  .txt-pc-39 {
    font-size: 39px; }
  .txt-pc-40 {
    font-size: 40px; }
  .txt-pc-41 {
    font-size: 41px; }
  .txt-pc-42 {
    font-size: 42px; }
  .txt-pc-43 {
    font-size: 43px; }
  .txt-pc-44 {
    font-size: 44px; }
  .txt-pc-45 {
    font-size: 45px; }
  .txt-pc-46 {
    font-size: 46px; }
  .txt-pc-47 {
    font-size: 47px; }
  .txt-pc-48 {
    font-size: 48px; }
  .txt-pc-49 {
    font-size: 49px; }
  .txt-pc-50 {
    font-size: 50px; }
  .txt-pc-left {
    text-align: left; }
  .txt-pc-center {
    text-align: center; }
  .txt-pc-right {
    text-align: right; }
  .txt-pc-normal {
    font-weight: 400; }
  .txt-pc-bold {
    font-weight: 500; }
  .txt-pc-bolder {
    font-weight: 600; } }

.txt-nobreak {
  white-space: nowrap; }

.value-calculator-shared-calculator {
  background-color: #EDFFF9;
  -webkit-box-shadow: 0px 8px 8px #0000001f;
  box-shadow: 0px 8px 8px #0000001f; }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator-inner-layout {
      max-width: 480px;
      margin: 0 auto; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator {
      padding: 60px 32px 48px; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator {
      border-radius: 14px;
      padding: 60px 64px 30px 50px; } }
  .value-calculator-shared-calculator .calculator__row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__row {
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; } }
    @media (min-width: 768px) {
      .value-calculator-shared-calculator .calculator__row {
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
        -ms-flex-direction: row;
        flex-direction: row; } }
  .value-calculator-shared-calculator .calculator__label {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__label {
        -webkit-box-align: start;
        -ms-flex-align: start;
        align-items: flex-start; } }
  .value-calculator-shared-calculator .calculator__output {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    border-style: solid;
    border-radius: 14px; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__output {
        width: 100%;
        max-width: 310px; } }
  .value-calculator-shared-calculator .calculator__label-logo {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__label-logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 75px;
        flex: 0 0 75px; } }
    @media (min-width: 768px) {
      .value-calculator-shared-calculator .calculator__label-logo {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 124px;
        flex: 0 0 124px; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__label-text {
      margin: 5px 0 20px; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__output-value {
      padding: 0 8px 0 0; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator .calculator__output-value {
      padding: 0 16px; } }
  .value-calculator-shared-calculator .calculator__output-label {
    white-space: nowrap; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__output-label {
        padding: 8px 16px 0 0; }
        .value-calculator-shared-calculator .calculator__output-label:last-of-type {
          padding-right: 0; } }
    @media (min-width: 768px) {
      .value-calculator-shared-calculator .calculator__output-label {
        padding: 16px 16px 0; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__output-text {
      margin-bottom: 20px; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__current-time {
      -webkit-box-align: center;
      -ms-flex-align: center;
      align-items: center;
      margin-bottom: 64px; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator .calculator__current-time {
      margin-bottom: 16px; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__label {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
      flex: 1 1 auto; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__label {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
      flex: 1 1 50%; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__label-logo {
      -webkit-box-flex: 0;
      -ms-flex: 0 0 50px;
      flex: 0 0 50px;
      margin-right: 10px; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__label-logo {
      padding: 0 20px; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__label-text {
      font-size: 16px;
      line-height: 24px; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__label-text {
      font-size: 18px;
      line-height: 28px; } }
  .value-calculator-shared-calculator .calculator__current-time .calculator__output {
    border-width: 6px; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__current-time .calculator__output {
        -webkit-box-flex: 0;
        -ms-flex: 0 0 70px;
        flex: 0 0 70px; } }
    @media (min-width: 768px) {
      .value-calculator-shared-calculator .calculator__current-time .calculator__output {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
        flex: 1 1 50%;
        height: 74px;
        margin-left: 14%; } }
  .value-calculator-shared-calculator .calculator__current-time .calculator__output-value {
    font-weight: 500; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__current-time .calculator__output-value {
        font-size: 28px; } }
    @media (min-width: 768px) {
      .value-calculator-shared-calculator .calculator__current-time .calculator__output-value {
        font-size: 32px; } }
  @media (max-width: 767px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__output-label {
      font-size: 14px; } }
  @media (min-width: 768px) {
    .value-calculator-shared-calculator .calculator__current-time .calculator__output-label {
      font-size: 16px; } }
  .value-calculator-shared-calculator .calculator__welcomehr-time {
    color: #27C98E; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__welcomehr-time {
        -webkit-box-align: center;
        -ms-flex-align: center;
        align-items: center;
        margin-bottom: 32px; } }
    .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__label {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 45%;
      flex: 1 1 45%; }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__label-logo {
        margin-left: -15px; } }
    .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__label-text {
      font-weight: 600; }
      @media (max-width: 767px) {
        .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__label-text {
          font-size: 22px;
          line-height: 27px; } }
      @media (min-width: 768px) {
        .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__label-text {
          font-size: 25px;
          line-height: 32px; } }
    .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output {
      border-width: 12px; }
      @media (max-width: 767px) {
        .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output {
          -webkit-box-flex: 0;
          -ms-flex: 0 0 94px;
          flex: 0 0 94px; } }
      @media (min-width: 768px) {
        .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output {
          -webkit-box-flex: 1;
          -ms-flex: 1 1 55%;
          flex: 1 1 55%;
          height: 94px;
          margin-left: 26px; } }
    .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output-value {
      font-weight: 600; }
      @media (max-width: 767px) {
        .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output-value {
          font-size: 38px; } }
      @media (min-width: 768px) {
        .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output-value {
          font-size: 40px; } }
    @media (max-width: 767px) {
      .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output-label {
        font-size: 16px; } }
    @media (min-width: 768px) {
      .value-calculator-shared-calculator .calculator__welcomehr-time .calculator__output-label {
        font-size: 20px; } }

.value-calculator-thanks-page .green-banner {
  background-color: #27C98E;
  text-align: center;
  color: #FFFFFF;
  position: relative; }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .green-banner {
      padding: 24px 0 20px; } }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .green-banner {
      padding: 32px 0; } }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .green-banner .green-banner__inner {
      max-width: 310px;
      margin: 0 auto; } }
  .value-calculator-thanks-page .green-banner .green-banner__border-bottom:after {
    content: '';
    display: block;
    height: 1.5px;
    margin: 16px auto 32px;
    background-color: #FFFFFF; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .green-banner .green-banner__border-bottom:after {
        width: 310px; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .green-banner .green-banner__border-bottom:after {
        width: 78px; } }
  .value-calculator-thanks-page .green-banner .green-banner__text {
    font-weight: 500; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .green-banner .green-banner__text {
        line-height: 29px;
        margin: 36px 0; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .green-banner .green-banner__text {
        margin: 16px 0; } }
  .value-calculator-thanks-page .green-banner .green-banner__green-arrow {
    position: absolute;
    bottom: -20px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%); }

.value-calculator-thanks-page .blue-banner {
  height: 64px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  position: relative;
  background-color: #1453C7; }
  .value-calculator-thanks-page .blue-banner .blue-banner__text {
    color: #FFFFFF;
    font-weight: 500;
    z-index: 2; }
  .value-calculator-thanks-page .blue-banner .blue-banner__triangle {
    position: absolute;
    bottom: -15px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    z-index: 1; }

@media (min-width: 768px) {
  .value-calculator-thanks-page .main-body {
    padding-top: 16px;
    background-image: url("../images/value-calculator-thanks/page-background.png");
    background-size: cover;
    background-position: top center; } }

.value-calculator-thanks-page .main-body .main-body-layout {
  max-width: calc(950px + 2 * 48px); }

.value-calculator-thanks-page .main-body .success {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .main-body .success {
      -webkit-box-align: start;
      -ms-flex-align: start;
      align-items: flex-start; } }
  .value-calculator-thanks-page .main-body .success .success__middle {
    color: #27C98E;
    text-align: center;
    line-height: 25px;
    font-weight: 500; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .success .success__middle {
        font-size: 20px;
        line-height: 25px;
        padding: 64px 0 88px;
        font-weight: 600;
        background-image: url("../images/value-calculator-thanks/success-sp.png");
        background-size: cover;
        background-position: top center; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .success .success__middle {
        font-size: 24px;
        line-height: 38px;
        max-width: 480px;
        margin: 0 64px;
        padding: 8px 0 24px;
        font-weight: 500; } }
  .value-calculator-thanks-page .main-body .success .mail-sent-image {
    width: 104px;
    margin: 24px 0 16px; }

.value-calculator-thanks-page .main-body .get-results-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  margin: 36px auto 20px; }
  .value-calculator-thanks-page .main-body .get-results-top .get-results-top__text {
    margin: 0 16px;
    font-size: 24px;
    text-align: center;
    color: #27C98E; }

.value-calculator-thanks-page .main-body .get-results-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .main-body .get-results-bottom {
      max-width: 310px;
      margin: 32px auto 36px; } }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .main-body .get-results-bottom {
      margin: 0 auto 56px; } }
  .value-calculator-thanks-page .main-body .get-results-bottom .button {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 8px 5px 16px;
    padding: 0 5px;
    text-align: center;
    border-radius: 14px;
    border: none;
    -webkit-box-shadow: 0px 6px 6px #0000001f;
    box-shadow: 0px 6px 6px #0000001f;
    cursor: pointer;
    background-color: #1453C7; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .get-results-bottom .button {
        width: 270px;
        height: 60px;
        font-size: 16px; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .get-results-bottom .button {
        width: 220px;
        height: 52px;
        font-size: 14px; } }
    .value-calculator-thanks-page .main-body .get-results-bottom .button:link, .value-calculator-thanks-page .main-body .get-results-bottom .button:visited, .value-calculator-thanks-page .main-body .get-results-bottom .button:hover, .value-calculator-thanks-page .main-body .get-results-bottom .button:active {
      color: #FFFFFF;
      text-decoration: none; }
    .value-calculator-thanks-page .main-body .get-results-bottom .button .button-icon {
      margin-right: 5px; }
  .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button-wrapper {
        width: 310px;
        margin-bottom: 8px; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button-wrapper {
        width: 412px; } }
  .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button {
    width: 100%;
    background-color: #27C98E;
    border: 6px solid #23BE86; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button {
        font-size: 18px;
        height: 60px; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button {
        font-size: 17px;
        height: 70px; } }
  .value-calculator-thanks-page .main-body .get-results-bottom .consultation-button__fineprint {
    color: #7B8782; }

.value-calculator-thanks-page .main-body .next-steps__header {
  margin: 48px 0 0; }
  .value-calculator-thanks-page .main-body .next-steps__header .black-underline:after {
    content: '';
    display: block;
    height: 1.5px;
    width: 78px;
    margin: 16px auto 32px;
    background-color: #000000; }

.value-calculator-thanks-page .main-body .next-steps__header-icon {
  margin-bottom: 16px; }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .main-body .next-steps__header-icon {
      max-width: 234px; } }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .main-body .next-steps__header-icon {
      max-width: 316px; } }

@media (max-width: 767px) {
  .value-calculator-thanks-page .main-body .next-steps {
    max-width: 480px;
    margin: 0 auto;
    margin-bottom: calc(50vw - 70px); } }

@media (min-width: 500px) and (max-width: 767px) {
  .value-calculator-thanks-page .main-body .next-steps {
    margin-bottom: 160px; } }

@media (min-width: 768px) {
  .value-calculator-thanks-page .main-body .next-steps {
    margin: 32px 0; } }

.value-calculator-thanks-page .main-body .next-steps .step {
  position: relative; }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .main-body .next-steps .step {
      margin: 32px 0 calc(50vw - 116px); } }
  @media (max-width: 767px) and (min-width: 500px) and (max-width: 767px) {
    .value-calculator-thanks-page .main-body .next-steps .step {
      margin-bottom: 128px; } }
  @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .next-steps .step:after {
        content: '';
        position: absolute;
        top: 0;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        height: 6px;
        width: 115px;
        background-color: #FFFFFF; } }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .main-body .next-steps .step {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      margin-top: 32px;
      padding: 0 16px; } }
  .value-calculator-thanks-page .main-body .next-steps .step .step__icon {
    position: absolute; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .next-steps .step .step__icon {
        top: -30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
        transform: translateX(-50%);
        z-index: 1; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .next-steps .step .step__icon {
        top: 0;
        left: 16px; } }
  .value-calculator-thanks-page .main-body .next-steps .step .step__textblock {
    text-align: left; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .next-steps .step .step__textblock {
        margin: 0 8px;
        padding: 60px 20px 80px;
        border: 6px solid #F4F4F4;
        border-radius: 20px; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .next-steps .step .step__textblock {
        -webkit-box-flex: 1;
        -ms-flex: 1 1 325px;
        flex: 1 1 325px;
        margin: 0 5vw 0 96px; } }
    .value-calculator-thanks-page .main-body .next-steps .step .step__textblock .step__body-title {
      margin-top: 0;
      font-size: 22px;
      color: #27C98E; }
    .value-calculator-thanks-page .main-body .next-steps .step .step__textblock .step__body-text {
      margin: 32px 0;
      line-height: 28px; }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .main-body .next-steps .step .step__screen {
      position: absolute;
      top: 85%;
      left: 50%;
      -webkit-transform: translateX(-50%);
      transform: translateX(-50%);
      width: 73%;
      z-index: 1; } }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .main-body .next-steps .step .step__screen {
      -webkit-box-flex: 1;
      -ms-flex: 1 1 474px;
      flex: 1 1 474px; } }

@media (max-width: 767px) {
  .value-calculator-thanks-page .main-body .next-steps .next-steps__arrow {
    margin: 48px 0; } }

@media (min-width: 768px) {
  .value-calculator-thanks-page .main-body .next-steps .next-steps__arrow {
    margin: -16px 0 0; } }

.value-calculator-thanks-page .main-body .green-circle-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap; }
  @media (max-width: 767px) {
    .value-calculator-thanks-page .main-body .green-circle-wrapper {
      margin: 34px 0 60px; } }
  @media (min-width: 768px) {
    .value-calculator-thanks-page .main-body .green-circle-wrapper {
      margin: 24px 0 0; } }
  .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap; }
    @media screen and (min-width: 328px) and (max-width: 491px) {
      .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle-row {
        -ms-flex-wrap: nowrap;
        flex-wrap: nowrap; } }
  @media screen and (min-width: 328px) and (max-width: 491px) {
    .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle-middle {
      margin: -20px 40px; } }
  .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    margin: 7px;
    padding: 20px 0;
    text-align: center;
    background-color: #D2F6E9; }
    @media (max-width: 767px) {
      .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle {
        width: 150px;
        height: 150px;
        border-radius: 150px; } }
    @media (min-width: 768px) {
      .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle {
        width: 177px;
        height: 177px;
        border-radius: 177px; } }
    .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle .green-circle__top-text {
      margin-bottom: 8px;
      color: #27C98E;
      font-size: 17px;
      line-height: 19px; }
    .value-calculator-thanks-page .main-body .green-circle-wrapper .green-circle .green-circle__bottom-text {
      font-size: 13px;
      line-height: 16px; }

@media (max-width: 767px) {
  .value-calculator-thanks-page .green-banner-2 {
    padding: 32px 0 40px; } }

@media (min-width: 768px) {
  .value-calculator-thanks-page .green-banner-2 .green-banner__inner {
    position: relative;
    max-width: 310px;
    margin: 0 auto; } }

@media (min-width: 768px) {
  .value-calculator-thanks-page .green-banner-2 .green-banner__speaker-icon {
    position: absolute;
    top: -16px;
    left: -80px;
    max-width: 90px; } }

@media (max-width: 767px) {
  .value-calculator-thanks-page .green-banner-3 {
    padding: 32px 0 40px; } }
