// settings
$breakpoint: 767px;
$layoutWidth: 950px;
$maxLayoutWidth: 1280px;

// colors
$black: #000000;
$white: #FFFFFF;
$gray: #CCCCCC;
$green: #27C98E;
$yellow: #FFF600;
$blue: #1453C7;
$red: #F22727;

$weightNormal: 400;
$weightBold: 500;
$weightBolder: 600;
