// resets
* {
  box-sizing: border-box;
}
p {
  margin: 0;
}
img {
  max-width: 100%;
}

// settings
$breakpoint: 767px;
$layoutWidth: 950px;
$maxLayoutWidth: 1280px;

// shared colors
$black: #000000;
$white: #FFFFFF;
$gray: #CCCCCC;
$green: #27C98E;
$yellow: #FFF600;
$blue: #1453C7;
$red: #F22727;

// shared weights
$weightNormal: 400;
$weightBold: 500;
$weightBolder: 600;

// responsive
@mixin sp-only {
  @media (max-width: $breakpoint) {
    @content;
  }
}
@mixin pc-only {
  @media (min-width: $breakpoint + 1) {
    @content;
  }
}
@mixin flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide-sp {
  @include sp-only {
    display: none !important;
  }
}
.hide-pc {
  @include pc-only {
    display: none !important;
  }
}

// utility classes
@import "./typography";

@mixin layout {
  width: 100%;
  margin: 0 auto;
}
.layout {
  @include layout;
  max-width: $layoutWidth;
}
.max-layout {
  @include layout;
  max-width: $maxLayoutWidth;
}
