// $spLg: 767px;
// $spMd: 500px;
// $spSm: 400px;
$breakpoint: 767px;
$layoutWidth: 950px;

@mixin sp-only {
  @media (max-width: $breakpoint) {
    @content;
  }
}

@mixin pc-only {
  @media (min-width: $breakpoint + 1) {
    @content;
  }
}

.hide-sp {
  @include sp-only {
    display: none;
  }
}

.hide-pc {
  @include pc-only {
    display: none;
  }
}

.layout {
  max-width: $layoutWidth;
  margin: 0 auto;
}

.txt-bold {
  font-weight: bold;
}
