@media (max-width: 767px) {
  .hide-sp {
    display: none; } }

@media (min-width: 768px) {
  .hide-pc {
    display: none; } }

.layout {
  max-width: 950px;
  margin: 0 auto; }

.txt-bold {
  font-weight: bold; }

.time-saving-calculator-thanks-page .h1 {
  color: green; }

.time-saving-calculator-thanks-page .calculator-output-component {
  background-color: hotpink; }
  @media (max-width: 767px) {
    .time-saving-calculator-thanks-page .calculator-output-component {
      display: none; } }
